In [10]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("HR-Employee-Attrition.csv")
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [3]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [4]:
# Data of Gender is converted into Binary Data
df_one = pd.get_dummies(df["Attrition"])
df_one

      No  Yes
0      0    1
1      1    0
2      0    1
3      1    0
4      1    0
...   ..  ...
1465   1    0
1466   1    0
1467   1    0
1468   1    0
1469   1    0

[1470 rows x 2 columns]

In [5]:
# Binary Data is Concatenated into Dataframe
df_two = pd.concat((df_one, df), axis=1)
 
 
# We want Male =0 and Female =1 So we drop Male column here
df_two = df_two.drop(["No"], axis=1)
df_Att = df_two.rename({"Yes":"Attrition_status"}, axis =1)

# Drop columns that are not useful
df_Att.drop(["EmployeeCount"], axis=1, inplace = True)
df_Att.drop(["Over18"], axis=1, inplace = True)
df_Att.drop(["StandardHours"], axis=1, inplace = True)
df_Att

,Attrition_status,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,...,3,1,0,8,0,1,6,4,0,5
1,0,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,2,...,4,4,1,10,3,3,10,7,1,7
2,1,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,...,3,2,0,7,3,3,0,0,0,0
3,0,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,5,...,3,3,0,8,3,3,8,7,3,0
4,0,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,7,...,3,4,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,2061,...,3,3,1,17,3,3,5,2,0,3
1466,0,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,2062,...,3,1,1,9,5,3,7,7,1,7
1467,0,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,2064,...,4,2,1,6,0,3,6,2,0,3
1468,0,49,No,Travel_Frequently,1023,Sales,2,3,Medical,2065,...,3,4,0,17,3,2,9,6,0,8
1469,0,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,2068,...,3,1,0,6,3,4,4,3,1,2

In [6]:
df_Att.drop(["EmployeeNumber"], axis=1, inplace = True)

In [7]:
df_Att

,Attrition_status,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,...,3,1,0,8,0,1,6,4,0,5
1,0,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,...,4,4,1,10,3,3,10,7,1,7
2,1,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,...,3,2,0,7,3,3,0,0,0,0
3,0,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,...,3,3,0,8,3,3,8,7,3,0
4,0,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,...,3,4,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,3,...,3,3,1,17,3,3,5,2,0,3
1466,0,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,4,...,3,1,1,9,5,3,7,7,1,7
1467,0,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,2,...,4,2,1,6,0,3,6,2,0,3
1468,0,49,No,Travel_Frequently,1023,Sales,2,3,Medical,4,...,3,4,0,17,3,2,9,6,0,8
1469,0,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,2,...,3,1,0,6,3,4,4,3,1,2

In [12]:
corr_matrix = df_Att.corr().abs()

#the matrix is symmetric so we need to extract upper triangle matrix without diagonal (k = 1)
# Decending order 
sol = (corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))
                  .stack()
                  .sort_values(ascending=False))

#first element of sol series is the pair with the biggest correlation

JobLevel                  MonthlyIncome           0.950300
                          TotalWorkingYears       0.782208
PercentSalaryHike         PerformanceRating       0.773550
MonthlyIncome             TotalWorkingYears       0.772893
YearsAtCompany            YearsWithCurrManager    0.769212
                                                    ...
EnvironmentSatisfaction   JobLevel                0.001212
TotalWorkingYears         WorkLifeBalance         0.001008
RelationshipSatisfaction  YearsWithCurrManager    0.000867
JobSatisfaction           MonthlyRate             0.000644
DailyRate                 PerformanceRating       0.000473
Length: 276, dtype: float64

In [15]:
corrdf = sol.to_frame()
corrdf.rename(columns = {0:'Corr_coefficient'}, inplace = True)
corrdf.sort_values(by = "Corr_coefficient", ascending = False)

                                               Corr_coefficient
JobLevel                 MonthlyIncome                 0.950300
                         TotalWorkingYears             0.782208
PercentSalaryHike        PerformanceRating             0.773550
MonthlyIncome            TotalWorkingYears             0.772893
YearsAtCompany           YearsWithCurrManager          0.769212
...                                                         ...
EnvironmentSatisfaction  JobLevel                      0.001212
TotalWorkingYears        WorkLifeBalance               0.001008
RelationshipSatisfaction YearsWithCurrManager          0.000867
JobSatisfaction          MonthlyRate                   0.000644
DailyRate                PerformanceRating             0.000473

[276 rows x 1 columns]